* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

a {
	text-decoration: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.sideMenu{
    width: 300px;
    height: 100%;
    background-color: antiquewhite;
    border-right: 3px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    box-shadow: 5px 0 5px rgba(#303c4d, 0.6);
}

.asideMenu {
	width: 300px;
	background-color: #474747;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-left: 5px solid #ff9a15;
	padding: 20px;
	box-shadow: 0 0 5px hsla(240, 40%, 15%, 0.6);
	transform: translateX(0);
	transition: all 0.5s;
	&.active {
		transform: translateX(295px);
	}
	.btn {
		position: absolute;
		top: 50%;
		left: -13%;
		padding: 40px 10px;
		background-color: #ff9a15;
		border-radius: 6px 0 0 6px;
		box-shadow: 0 0 5px hsla(240, 40%, 15%, 0.6);
		.fa-chevron-right {
			color: #474747;
			transform: rotate(0);
			transition: all 0.5s;
			&.rotate {
				transform: rotate(180deg);
			}
		}
	}

	.title {
		font-size: 24px;
		color: #ff9a15;
	}
	.list {
		display: flex;
		.optionTitle {
			color: #ff9a15;
		}
		.optionList {
			color: #fff;
		}
		.optionTitle,
		.optionList {
            list-style-type: none;
			display: block;
			padding: 20px;
			line-height: 2;

			.fas {
				color: #fff;
				outline: none;
				border: none;
			}
		}
	}
}
